p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
#cover {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: none;
  box-shadow: none;
}
.book .book-header {
  display: none;
}
